.start-screen {
    background-color: #404040;
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    img {
        height: 100vh;
    };
}

.start-label-box {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 80px;
    display: flex;
    justify-content: center;

    img {
        width: 15vw;
        height: auto;

        &:hover {
            filter: brightness(1.25);
            cursor: pointer;
        }
    }
}